flask
Flask-SQLAlchemy
flask-login
Flask-JWT-Extended==4.4.4
Flask-Migrate==4.0.5
Flask-Cors==5.0.0
Flask-SocketIO==5.3.0
Flask-WTF==1.2.1
Pillow==10.0.0
flask-bcrypt==1.0.1
flasgger 
flask-swagger-ui
azure-cli
gunicorn
Flask-Migrate
