.sp-side-panels {
  position: fixed;
  top: 10vh;
  right: 2vw;
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
  font-family: 'Quicksand', sans-serif;
}

.sp-panel {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  overflow: hidden;
}

.sp-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  background: #acd4ff;
  border-radius: 20px 20px 0 0;
  font-weight: 700;
  font-size: 1.3rem;
  color: #134386;
}

.sp-panel-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2.4rem;
}

.sp-icon {
  color: #0d4989;
  margin-left: 12px;
  font-size: 1.8rem;
}

.sp-toggle-icon {
  color: #30445a;
  font-size: 2.2rem;
}

.sp-panel-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  background: #fff;
  padding: 0 1.5rem;
}

.sp-panel-content.expanded {
  max-height: 1500px;
  opacity: 1;
  padding-bottom: 1.5rem;
  transition: all 0.4s ease-in;
}

.sp-news-card,
.sp-missing-pet-card {
  background: #d3e8ff;
  border-radius: 14px;
  padding: 1rem;
  margin-top: 1.25rem;
  border: 1px solid #7abaff;
  display: flex;
  gap: 1.25rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.sp-news-image,
.sp-missing-pet-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.sp-news-image.large,
.sp-missing-pet-image.large {
  width: 140px;
  height: 140px;
  border-radius: 12px;
}

.sp-news-content,
.sp-missing-pet-info {
  flex-grow: 1;
}

.sp-news-title,
.sp-missing-pet-name {
  font-weight: bold;
  color: #0a407a;
  font-size: 1.3rem;
}

.sp-news-description,
.sp-missing-pet-since,
.sp-missing-pet-reward {
  font-size: 1.05rem;
  color: #444;
  margin-top: 0.5rem;
}

.sp-missing-pet-reward {
  color: #7abaff;
  font-weight: 700;
}

.sp-news-extra,
.sp-missing-extra {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
  position: relative;
  padding-right: 1.5rem;
}

.sp-close-icon {
  position: absolute;
  top: -70px;     /* inside the card, top right corner */
  right: 0px;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
  transition: transform 0.2s;
  background: white;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.sp-close-iconM {
  position: absolute;
  top: -90px;     /* inside the card, top right corner */
  right: 0px;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
  transition: transform 0.2s;
  background: white;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.sp-close-icon:hover {
  color: #e74c3c;
  transform: scale(1.2);
}
