

/* Global font styles */
/* Global font */
body {
  font-family: 'McLaren', sans-serif;
}
.logo {
  font-family: 'McLaren', cursive;
}

@keyframes bounceForever {
  0%, 100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-22px); /* just a bit more oomph! */
  }

  40% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(-16px);
  }

  80% {
    transform: translateY(5px);
  }
}



.bounce-hover:hover {
  animation: bounceForever 0.8s ease-in-out infinite;
}
